@model TicketingSystem.Models.ErrorMsg

@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>

@using (@Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label for="txtEmail">Email</label>
        @Html.TextBox("txtEmail", "", new { placeholder = "Email", required = true, @type = "email", @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="txtPassword">Password</label>
        @Html.Password("txtPassword", "", new { placeholder = "Password", required = true, minlength = "8", maxlength = "50", @class = "form-control" })
    </div>

    <input type="submit" value="Login" class="btn btn-primary" />
}

<br />
@Html.ActionLink("SingUp", "Index", "SingUp", null, new { @class = "btn btn-primary btn-xs" })

<br />
<br />
@if (Model != null && Model.error == true)
{
    <div class="alert alert-warning">
        <striong>Error: </striong>@Model.msg
    </div>
}

